body {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.bottom_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.horizontal_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
