body {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.list_selector>h5 {
  width: min-content;
}

.active_selection,
.inactive_selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.active_selection::before{
  content: "seleccionado: ";
}

.active_selection>div,
.inactive_selection>div {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  padding: 5px;
  width: auto;
}

.active_selection>div {
  background-color: #0f7ef1;
}

.active_selection button,
.inactive_selection button {
  border: none;
  background: none;
  cursor: pointer;
}

.filtro-container {
  top: 0;
  right: 0;
  padding: 5px;
  background-color: #F3F4F6;
  border: 1px solid rgba(27, 31, 35, 0.15);
  margin-right: 20px;
  border-radius: 6px;
  width: 80%;
  overflow-x: auto;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.scrollable-table {
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
}

.bottom_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scrollable-table tbody {
  display: block;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  width: 100vh;
}

th {
  background-color: #A6A6A6;
}

td {
  background-color: #F3F4F6;
}

.formatos_selector_div {
  margin-top: 15px;
  display: flex;
}

.formatos_selector_div select {
  margin-left: 10px;
  align-items: center;
  align-content: center;
}
