.body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    line-height: 5%;
    overflow: hidden;
}

.header img {
    float: right;
    width: 300px;
    height: 100px
}

.remitente {
    float: left;
}

.datos1 {
    overflow: hidden;
    line-height: 5%;
    padding-top: 15px;
}

.comprador {
    float: left;
}

.datos_id_factura {
    float: right;
    padding-right: 240px;
}

.productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.productos th,
.productos td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

.pago_total {
    line-height: 5%;
}

.datos2 {
    padding-top: 20px;
}

.forma_pago {
    padding-top: 15px;
}
