<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>facturacon facil - home</title>

  <link rel="stylesheet" href="../common_styles.css" />
  <link rel="stylesheet" href="home.css" />

  <script defer src="../../.dist/src/render/home.js"></script>
</head>

<body>
  <h1>Facturación facil</h1>
  <div class="db_selector_div">
    <label id="db_selector_txt">Espacio de guardado: </label>
    <select class="select" id="db_selector"></select>
  </div>
  <div class="to_manage_div btn_div">
    <button type="button" id="to_manage_db">Gestionar espacios de guardado</button>
  </div>
  <div class="to_create_invoice_div btn_div">
    <button type="button" id="to_create_invoice_btn">Crear factura</button>
  </div>
  <div class="to_edit_invoice_div btn_div">
    <button type="button" id="to_edit_invoice_btn">Editar/Reemitir factura</button>
  </div>
  <div class="to_edit_date_div btn_div">
    <button type="button" id="to_edit_date_btn">Modificar fecha de vencimineto</button>
  </div>
  <div class="to_record_book_div btn_div">
    <button type="button" id="to_record_book_btn">Libro de registors</button>
  </div>
</body>

</html>
