<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>INGRESOS</title>

  <link rel="stylesheet" href="../common_styles.css" />
  <link rel="stylesheet" href="manage_db.css" />

  <script defer src="manage_db.js"></script>
</head>

<body>
  <h1>Gestionar espacios de guardado</h1>

  <div>
    <h3>Crear espacio de guardado</h3>
    <input id="nueva_db_name" class="input" type="text" value="" placeholder="nombre">
    <button id="crear_db_btn" type="button">Crear</button>
  </div>

  <div>
    <h3>Borrar espacio de guardado</h3>
    <select class="possible_db select" id="db_to_delete"></select>
    <button id="borrar_db_btn" type="button">Borrar</button>
  </div>

  <div>
    <h3>Fusionar clientes y proveedores</h3>
    <div class="merge_mode">
      <label>Modo de fusionado: </label>
      <select id="merge_modes" class="select">
        <option value="añadir">añadir</option>
        <option value="sobreescribir">sobreescribir</option>
      </select>
    </div>

    <div class="select_db_merge">
      <div>
        <label class="labels">Copiar:</label>
        <select class="possible_db select" id="copy_from_db"></select>
      </div>
      <div class="copy_to_db_div">
        <label>En:</label>
        <select class="possible_db select" id="copy_to_db"></select>
      </div>
    </div>

    <button id="merge_db" type="button">Fusionar</button>
  </div>

  <div>
    <h3>Fusionar metodos de pago: </h3>
    <div class="merge_mode">
      <label>Modo de fusionado: </label>
      <select id="merge_pay_modes" class="select">
        <option value="añadir">añadir</option>
        <option value="sobreescribir">sobreescribir</option>
      </select>
    </div>

    <div class="select_db_merge">
      <div>
        <label class="labels">Copiar:</label>
        <select class="possible_db select" id="copy_pay_from_db"></select>
      </div>
      <div class="copy_to_db_div">
        <label>En:</label>
        <select class="possible_db select" id="copy_pay_to_db"></select>
      </div>
    </div>

    <button id="merge_pay_db" type="button">Fusionar</button>
  </div>

  <div class="horizontal_div">
    <button id="atras_btn">Atras</button>
  </div>

</body>

</html>
