<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>FORMA DE PAGO NUEVA</title>

  <link rel="stylesheet" href="../common_styles.css" />
  <link rel="stylesheet" href="modify_date.css" />

  <script defer src="modify_date.js"></script>
</head>
<h1>Modificar fecha de vencimiento</h1>

<div>
  <h3>Seleccione el identificador de la factura: </h3>
  <div class="select_id_div">
    <select class="select" id="letter_selector"></select>
    <select class="select" id="number_selector"></select>
  </div>
</div>

<div class="date_select_div">
  <h3>Fecha de vencimiento: </h3>
  <input id="date_input" class="input" type="date" value="">
</div>

<button id="modify_date" type="button">Modificar</button>

<div class="horizontal_div">
  <button id="atras_btn">Atras</button>
</div>

<body>
</body>

</html>
