<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>CLIENTE NUEVO</title>

    <link rel="stylesheet" href="personas.css" />

    <script defer src="cliente.js"></script>
  </head>

  <body>
    <div>
      <label>Nombre</label>
      <input id="nombre_input" type="text"></input>
    </div>
    <div>
      <label>ID</label>
      <input id="id_input" type="text"></input>
    </div>
    <div>
      <label>Direccion</label>
      <input id="direccion_input" type="text"></input>
    </div>
    <div>
      <label>Contacto</label>
      <input id="contacto_input" type="text"></input>
    </div>
    <button type="button">GUARDAR</button>
  </body>
</html>
