<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Hello World!</title>

  <link rel="stylesheet" href="home.css" />

  <script defer src="home.js"></script>
</head>

<body>
  <h1>HOME</h1>
  <label>Espacio de guardado: </label>
  <select id="db_selector"></select>
  <br>
  <button type="button" id="to_ingresos_btn">Crear factura</button>
  <br>
  <button type="button" id="to_record_book_btn">Libro de registors</button>
  <br>
  <button type="button" id="to_manage_db">Gestionar espacio de guardado</button>
</body>

</html>
